header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

body {
  font-family: 'League Spartan', sans-serif;
  padding-top: 160px;
  margin: 0;
  background-color: #F3F2F0;
}

.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  gap: 30px;         
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  margin: auto;
  height: 0px;
}


/* BARRA */
.bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.bar-ujobs {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-right: 200px;
}

.bar-items {
  display: flex;
  align-items: center;
  gap: 30px;
}

.search-box {
  display: flex;
  align-items: center;
  border: 1px solid #000;
  border-radius: 30px;
  padding: 5px 12px;
  width: 300px;
  background: #fff;
}

.search-box i {
  margin-right: 8px;
  color: #555;
}

.search-input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;
  background: none;
}


/* INÍCIO */
.home1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  background-color: #ffffff;
  padding-top: 50px;
  padding-bottom: 50px;
}

.home2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.home-image {
  border-radius: 1%;
}

.home-title {
  font-size: 2.5rem;
  font-weight: bold;
}

.home-text {
  font-size: 1.7rem;
}

.home-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;       
}

.home-link{
  margin-top: 20px;
}

.home-slogan{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  margin-bottom: 60px;     
}

/* LOGIN */
.login {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 30px;  
  background-color: #ffffff;
  width: 400px;
  height: 600px;
  padding-top: 50px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.login-link {
  margin-top: auto;
  margin-bottom: 15px;
}


/* PERFIL */
.profile {
  margin: 0 auto;
  width: 825px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  background-color: #fff;
  margin-bottom: 15px;
}

.profile-title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.profile-title-bold {
  font-size: 2rem;
  font-weight: bold;
}

.profile-photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 15px 15px auto;
  border: 3px solid #444444;
}

.profile-items {
  margin-bottom: 15px;
}

.profile-file {
  margin-bottom: 30px;
}

.profile-name {
  font-size: 1.4rem;
  font-weight: bold;
}

.profile-bold {
  font-size: 1.3rem;
  font-weight: bold;
}

.profile-info {
  font-size: 1.2rem;
}

.profile-edit {
  margin-top: 30px;
  margin-left: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
}


/* USUÁRIOS */
.users {
  margin: 0 auto;
  width: 900px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  background-color: #ffffff;
  margin-bottom: 15px;
  color: inherit;
  text-decoration: none;
  display: block;  
}

.users a {
  color: #000;
  text-decoration: none;
  display: block;
}

.users-search {
  width: 858px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 20px;
}

.users-search:hover {
  background-color: #F3F2F0;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.users-title {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}