<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=League+Spartan&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<title>Ujobs {% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
    <header class="bar">
        <div class="bar-ujobs">
            <a href="/"><img src="{{ url_for('static', filename='Ujobs.png') }}" width="120"></a>
        </div>

        <div class="bar-items">
            <a href="/"><img id="home-icon" src="{{ url_for('static', filename='Home1.png') }}" width="65"></a>
            <a href="/explore"><img id="explore-icon" src="{{ url_for('static', filename='Explore1.png') }}" width="65"></a>

            {% if current_user.is_authenticated %}
            <a href="/profile"><img id="profile-icon" src="{{ url_for('static', filename='Profile1.png') }}" width="65"></a>
            <a href="{{ url_for('conversations')}}" class="btn btn-primary rounded-pill d-flex align-items-center gap-2">
                <i class="fa fa-envelope"></i> Uchat
            </a>
            {% else %}
            <div>
                <button onclick="window.location.href='/register';" class="btn btn-outline-secondary rounded-pill">Cadastra-se</button>
                <button onclick="window.location.href='/login';" class="btn btn-primary rounded-pill">Entrar</button>
            </div>
            {% endif %}

            <button id="darkModeToggle" class="dark-btn small-dark-btn">🌙</button>
        </div>
    </header>

    {% block content %}
    {% endblock %}

<script>
    const darkModeToggle = document.getElementById('darkModeToggle');
    const menuIcons = document.querySelectorAll('.bar-items img');

    function toggleDarkMode(enable) {
        if (enable) {
            document.body.classList.add('dark-mode');
            darkModeToggle.textContent = "☀️ Modo claro";

            menuIcons.forEach(icon => {
                icon.style.filter = 'brightness(1) invert(1)';
            });
        } else {
            document.body.classList.remove('dark-mode');
            darkModeToggle.textContent = "🌙 Modo escuro";

            menuIcons.forEach(icon => {
                icon.style.filter = 'none';
            });
        }
    }


    const darkEnabled = localStorage.getItem('darkMode') === 'enabled';
    toggleDarkMode(darkEnabled);


    darkModeToggle.addEventListener('click', () => {
        const darkEnabledNow = !document.body.classList.contains('dark-mode');
        toggleDarkMode(darkEnabledNow);
        localStorage.setItem('darkMode', darkEnabledNow ? 'enabled' : 'disabled');
    });
</script>

<footer class="footer text-center py-3">
    <p>© 2025 Ujobs — Todos os direitos reservados.</p>
</footer>

</body>
</html>