{% extends 'base.html' %}

{% block title %}- Login{% endblock %}

{% block content %}

<div class="center_login">
    <h1>Entre na sua conta:</h1>

    <form method="POST">
        {{ form.hidden_tag() }}
        <a>Usuário:</a>
        {{ form.userLogin(size=35, class="form-control") }}<br>
        <a>Senha:</a>
        {{ form.passwordLogin(size=35, class="form-control") }}<br>
        {{ form.login(class="btn btn-warning") }}
    </form>

    <h1>Ou se não possuir uma conta:</h1>
    <button onclick="window.location.href='/register';" class="btn btn-warning">Cadastrar-se</button>

</div> 

{% endblock %}

